.france-box-blue {
    background: blue;
    height: 100px;
    width: 50px;
    position: absolute;
    left: 10px;
}
.france-box-white {
    background: white;
    height: 100px;
    width: 50px;
    position: absolute;
    left: 60px;
}
.france-box-red {
    background: red;
    height: 100px;
    width: 50px;
    position: absolute;
    left: 110px;
}


.germany-box-black {
    background: black;
    height: 35px;
    width: 150px;
    position: absolute;
    left: 10px;
    top: 150px;
}
.germany-box-red {
    background: red;
    height: 35px;
    width: 150px;
    position: absolute;
    left: 10px;
    top: 185px;
}
.germany-box-yellow {
    background: yellow;
    height: 35px;
    width: 150px;
    position: absolute;
    left: 10px;
    top: 220px;
}


.madagascar-box-white {
    background: white;
    height: 100px;
    width: 50px;
    position: absolute;
    left: 10px;
    top: 300px;
}
.madagascar-box-red {
    background: red;
    height: 50px;
    width: 100px;
    position: absolute;
    left: 60px;
    top: 300px;
}
.madagascar-box-green {
    background: green;
    height: 50px;
    width: 100px;
    position: absolute;
    left: 60px;
    top: 350px;
}


.switzerland-box-red {
    background: red;
    height: 100px;
    width: 150px;
    position: absolute;
    left: 10px;
    top: 450px;
}
.switzerland-box-white-horizontal {
    background: white;
    height: 25px;
    width: 75px;
    position: absolute;
    left: 47px;
    top: 487px;
}
.switzerland-box-white-vertical {
    background: white;
    height: 75px;
    width: 25px;
    position: absolute;
    left: 72px;
    top: 463px;
}


.niger-box-orange {
    background: orange;
    height: 35px;
    width: 150px;
    position: absolute;
    left: 10px;
    top: 588px;
}
.niger-box-white {
    background: white;
    height: 35px;
    width: 150px;
    position: absolute;
    left: 10px;
    top: 623px;
}
.niger-box-green {
    background: green;
    height: 35px;
    width: 150px;
    position: absolute;
    left: 10px;
    top: 658px;
}
.niger-circle-orange {
    background: orange;
    height: 30px;
    width: 30px;
    position: absolute;
    left: 69px;
    top: 626px;
    border-radius: 50%;
}

